apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  selector:
    matchLabels:
      #extension says there is an error, but there is not!
      app: backend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - image: sefose/simpleapp-backend:mongodb-0.0.1
        imagePullPolicy: IfNotPresent
        name: backend
        ports:
        - containerPort: 8080
          name: backend
        env:
          - name: SPRING_DATA_MONGODB_DATABASE
            value: simpleapp
          - name: SPRING_DATA_MONGODB_HOST
            value: mongodb
          - name: SPRING_DATA_MONGODB_PORT
            value: "27017"
          - name: SPRING_DATA_MONGODB_USERNAME
            value: simpleapp
          - name: SPRING_DATA_MONGODB_PASSWORD
            value: simpleapp
        resources:

        # spring.data.mongodb.authentication-database=admin
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: backend
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    app: backend
